<!DOCTYPE html>
<html>

<head>

    <title>Payments</title>

    <style>

        body{
            font-family:Arial;
            background:#f4f7f5;
            padding:40px;
        }

        table{
            width:100%;
            border-collapse:collapse;
            background:white;
        }

        th, td{
            padding:15px;
            border:1px solid #ddd;
        }

        th{
            background:#2e7d32;
            color:white;
        }

    </style>

</head>

<body>

<h1>Payments</h1>

<a href="/dashboard">Back</a>

<br><br>

<table>

<tr>

    <th>ID</th>
    <th>Amount</th>
    <th>Status</th>

</tr>

{% for payment in payments %}

<tr>

    <td>{{ payment.id }}</td>
    <td>{{ payment.amount }}</td>
    <td>{{ payment.status }}</td>

</tr>

{% endfor %}

</table>

</body>

</html>